<div class="tab" data-group="primary" data-tab="custom">
  <div class="config-category">
    <h2>{{localize 'AZTHARION.Settings.CustomAttributes'}}</h2>
    <div class="subcategory">
      <p class="notes">{{localize 'AZTHARION.Settings.CustomAttributesHint'}}</p>
      <div class="grid grid-2col">
        <div class="mod-header">{{localize 'AZTHARION.Label'}}</div>
        <div class="mod-header">{{localize 'AZTHARION.Settings.AttributeType'}}</div>
      </div>
      {{#each customAttributes as |attribute id|}}
        <div class="customization-row grid grid-2col" data-type="attribute" data-id="{{attribute.id}}">
          <div class="mod-label">
            <i class="fas fa-trash remove-custom-button" data-type="attribute" data-id="{{attribute.id}}"></i>
            <input type="text" class="label" placeholder="New Attribute" value="{{attribute.label}}">
          </div>
          <select class="attr-type" data-type="String">
            {{selectOptions ../attributeTypes selected=attribute.type localize=true}}
          </select>
        </div>
      {{/each}}
      <div class="mod-footer">
        <hr>
        <div class="add-custom-button addition-button" data-type="attribute">{{localize 'AZTHARION.Settings.AddCustomAttribute'}}</div>
      </div>
    </div>
  </div>

  <div class="config-category">
    <h2>{{localize 'AZTHARION.Settings.CustomSkills'}}</h2>
    <div class="subcategory">
      <p class="notes">{{localize 'AZTHARION.Settings.CustomSkillsHint'}}</p>
      <div class="grid grid-2col">
        <div class="mod-header">{{localize 'AZTHARION.Label'}}</div>
        <div class="mod-header">{{localize 'AZTHARION.Settings.SkillType'}}</div>
      </div>
      {{#each customSkills as |skill id|}}
        <div class="customization-row grid grid-2col" data-type="skill" data-id="{{skill.id}}">
          <div class="mod-label">
            <i class="fas fa-trash remove-custom-button" data-type="skill" data-id="{{skill.id}}"></i>
            <input type="text" class="label" placeholder="New Skill" value="{{skill.label}}">
          </div>
          <select class="attr-type" data-type="String">
            {{selectOptions ../attributeTypes selected=skill.type localize=true}}
          </select>
        </div>
      {{/each}}
      <div class="mod-footer">
        <hr>
        <div class="add-custom-button addition-button" data-type="skill">{{localize 'AZTHARION.Settings.AddCustomSkill'}}</div>
      </div>
    </div>
  </div>

  <div class="config-category">
    <h2>{{localize 'AZTHARION.Settings.CustomDisciplines'}}</h2>
    <div class="subcategory">
      <p class="notes">{{localize 'AZTHARION.Settings.CustomDisciplinesHint'}}</p>
      <div class="grid grid-2col">
        <div class="mod-header">{{localize 'AZTHARION.Label'}}</div>
      </div>
      {{#each customDisciplines as |discipline id|}}
        <div class="customization-row grid grid-2col" data-type="discipline" data-id="{{discipline.id}}">
          <div class="mod-label">
            <i class="fas fa-trash remove-custom-button" data-type="discipline" data-id="{{discipline.id}}"></i>
            <input type="text" class="label" placeholder="New Discipline" value="{{discipline.label}}">
          </div>
        </div>
      {{/each}}
      <div class="mod-footer">
        <hr>
        <div class="add-custom-button addition-button" data-type="discipline">{{localize 'AZTHARION.Settings.AddCustomDiscipline'}}</div>
      </div>
    </div>
  </div>

  <div class="config-category">
    <h2>{{localize 'AZTHARION.Settings.CustomEdges'}}</h2>
    <div class="subcategory">
      <p class="notes">{{localize 'AZTHARION.Settings.CustomEdgesHint'}}</p>
      <div class="grid grid-2col">
        <div class="mod-header">{{localize 'AZTHARION.Label'}}</div>
      </div>
      {{#each customEdges as |edge id|}}
        <div class="customization-row grid grid-2col" data-type="edge" data-id="{{edge.id}}">
          <div class="mod-label">
            <i class="fas fa-trash remove-custom-button" data-type="edge" data-id="{{edge.id}}"></i>
            <input type="text" class="label" placeholder="New Edge" value="{{edge.label}}">
          </div>
        </div>
      {{/each}}
      <div class="mod-footer">
        <hr>
        <div class="add-custom-button addition-button" data-type="edge">{{localize 'AZTHARION.Settings.AddCustomEdge'}}</div>
      </div>
    </div>
  </div>

  <div class="config-category">
    <h2>{{localize 'AZTHARION.Settings.CustomGifts'}}</h2>
    <div class="subcategory">
      <p class="notes">{{localize 'AZTHARION.Settings.CustomGiftsHint'}}</p>
      <div class="grid grid-2col">
        <div class="mod-header">{{localize 'AZTHARION.Label'}}</div>
      </div>
      {{#each customGifts as |gift id|}}
        <div class="customization-row grid grid-2col" data-type="gift" data-id="{{gift.id}}">
          <div class="mod-label">
            <i class="fas fa-trash remove-custom-button" data-type="gift" data-id="{{gift.id}}"></i>
            <input type="text" class="label" placeholder="New Gift" value="{{gift.label}}">
          </div>
        </div>
      {{/each}}
      <div class="mod-footer">
        <hr>
        <div class="add-custom-button addition-button" data-type="gift">{{localize 'AZTHARION.Settings.AddCustomGift'}}</div>
      </div>
    </div>
  </div>
</div>
