<div class="description-field">
    <div class="flex-center field-header">
        <label class="resource-label">
            {{#ifeq gamesystem 'vampire'}}
                {{localize "AZTHARION.BiographyList.TouchstonesAndConvictions"}}
            {{else}}
                {{localize "AZTHARION.BiographyList.Touchstones"}}
            {{/ifeq}}
            <div class="toggle-limited{{#if settings.limited.touchstones}} visible{{/if}}" data-action="toggleLimited" data-name="system.settings.limited.touchstones"
                title="{{#if settings.limited.touchstones}}{{localize "AZTHARION.Tabs.IsVisible"}}{{else}}{{localize "AZTHARION.Tabs.IsNotVisible"}}{{/if}}">
                {{#if settings.limited.touchstones}}
                    <i class="fa-solid fa-eye"></i>
                {{else}}
                    <i class="fa-solid fa-eye-slash"></i>
                {{/if}}
            </div>
        </label>
    </div>
    <div class="description-content resource">
        <prose-mirror name="system.headers.touchstones" value="{{touchstones}}"
            toggled="true" compact="true">
            {{{enrichedTouchstones}}}
        </prose-mirror>
    </div>
</div>
