<option value="arsenal">{{localize "AZTHARION.HTR.Arsenal"}}</option>
<option value="fleet">{{localize "AZTHARION.HTR.Fleet"}}</option>
<option value="ordnance">{{localize "AZTHARION.HTR.Ordnance"}}</option>
<option value="library">{{localize "AZTHARION.HTR.Library"}}</option>
<option value="improvisedgear">{{localize "AZTHARION.HTR.ImprovisedGear"}}</option>
<option value="globalaccess">{{localize "AZTHARION.HTR.GlobalAccess"}}</option>
<option value="dronejockey">{{localize "AZTHARION.HTR.DroneJockey"}}</option>
<option value="beastwhisperer">{{localize "AZTHARION.HTR.BeastWhisperer"}}</option>
<option value="sensetheunnatural">{{localize "AZTHARION.HTR.SenseTheUnnatural"}}</option>
<option value="repeltheunnatural">{{localize "AZTHARION.HTR.RepelTheUnnatural"}}</option>
<option value="thwarttheunnatural">{{localize "AZTHARION.HTR.ThwartTheUnnatural"}}</option>
<option value="artifact">{{localize "AZTHARION.HTR.Artifact"}}</option>