<option value="native">{{localize "AZTHARION.WTA.Native"}}</option>
<option value="rite">{{localize "AZTHARION.WTA.Rite"}}</option>
<option value="ragabash">{{localize "AZTHARION.WTA.Ragabash"}}</option>
<option value="theurge">{{localize "AZTHARION.WTA.Theurge"}}</option>
<option value="philodox">{{localize "AZTHARION.WTA.Philodox"}}</option>
<option value="galliard">{{localize "AZTHARION.WTA.Galliard"}}</option>
<option value="ahroun">{{localize "AZTHARION.WTA.Ahroun"}}</option>
<option value="blackfury">{{localize "AZTHARION.WTA.BlackFury"}}</option>
<option value="bonegnawer">{{localize "AZTHARION.WTA.BoneGnawer"}}</option>
<option value="childrenofgaia">{{localize "AZTHARION.WTA.ChildrenOfGaia"}}</option>
<option value="galestalker">{{localize "AZTHARION.WTA.Galestalker"}}</option>
<option value="ghostcouncil">{{localize "AZTHARION.WTA.GhostCouncil"}}</option>
<option value="glasswalker">{{localize "AZTHARION.WTA.GlassWalker"}}</option>
<option value="hartwarden">{{localize "AZTHARION.WTA.HartWarden"}}</option>
<option value="redtalon">{{localize "AZTHARION.WTA.RedTalon"}}</option>
<option value="shadowlord">{{localize "AZTHARION.WTA.ShadowLord"}}</option>
<option value="silentstrider">{{localize "AZTHARION.WTA.SilentStrider"}}</option>
<option value="silverfang">{{localize "AZTHARION.WTA.SilverFang"}}</option>